<%- include ../partials/header %>

<div class="container">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success"><%= successMsg %></div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger"><%= errorMsg %></div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
</div>
<div class="page-detail u-s-p-t-80">
  <div class="container">
    <!-- Product-Detail -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- Product-zoom-area -->
        <div class="zoom-area">
          <img
            id="zoom-pro"
            class="img-fluid"
            src="<%=product.imagePath%>"
            data-zoom-image="<%=product.imagePath%>"
            alt="Zoom Image"
          />
        </div>
        <!-- Product-zoom-area /- -->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- Product-details -->
        <div class="all-information-wrapper">
          <div class="section-1-title-breadcrumb-rating">
            <div class="product-title">
              <h1>
                <a href="/products/<%=product.category.slug%>/<%=product._id%>"
                  ><%=product.title%></a
                >
              </h1>
            </div>
            <ul class="bread-crumb">
              <li>
                <a href="<%=product.category.slug%>"
                  ><%=product.category.title%></a
                >
              </li>
            </ul>
          </div>
          <div class="section-2-short-description u-s-p-y-14">
            <h6 class="information-heading u-s-m-b-8">Description:</h6>
            <p><%=product.description%></p>
          </div>
          <div class="section-3-price-original-discount u-s-p-y-14">
            <div class="price">
              <% if (product.price == 0) { %>
              <h4>Free</h4>
              <% } else { %>
              <h4>$<%=product.price %></h4>
              <% } %>
            </div>
          </div>
          <div class="section-4-sku-information u-s-p-y-14">
            <div class="availability">
              <span>Brand:</span>
              <span><%=product.manufacturer%></span>
            </div>
            <div class="left">
              <span>Product code:</span>
              <span><%=product.productCode%></span>
            </div>
            <div class="left">
              <span>Date added to the store:</span>
              <span
                ><%= moment(product.createdAt).format( 'MMMM Do YYYY')%></span
              >
            </div>
          </div>

          <div class="section-6-social-media-quantity-actions u-s-p-y-14">
            <% if(product.available) {%>
            <a
              href="/add-to-cart/<%=product._id%>"
              class="button button-outline-secondary"
            >
              Add to cart
            </a>
            <% } else { %>
            <p class="is-not-available text-center">Sold out</p>
            <%} %>
          </div>
        </div>
        <!-- Product-details /- -->
      </div>
    </div>
    <!-- Product-Detail /- -->
  </div>
</div>

<%- include ../partials/footer %>
